<ion-header>
    <ion-navbar>
        <ion-title>
            <span class="logo-sm-insta">Insta</span><span class="logo-sm-credit">Credit</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="refreshDashboard($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <!--RATING BAND-->
        <ion-row responsive-sm>
            <ion-col width-50>
                <ion-card>
                    <ion-card-content>
                        <h4 [hidden]="!isDataLoaded">EXPOSURES BY RATING BAND</h4>
                        <div class="chart">
                            <bubble-chart #chartRatingBandExposures></bubble-chart>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col width-50 [hidden]="!isDataLoaded">
                <ion-card>
                    <ion-card-content>
                        <div>
                            <h4>EXPOSURES & EXPECTED LOSSES BY RATING BAND</h4>
                            <table class="db-table" *ngIf="isDataLoaded">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th colspan="2">Millions (USD)</th>
                                    </tr>
                                    <tr>
                                        <th>Rating Band</th>
                                        <th>Exposure</th>
                                        <th>Expected Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of ratingBandExposuresAndExpectedLosses">
                                        <td>{{ item.ratingBand }}</td>
                                        <td>{{ (item.exposure/1000000).toFixed(0) }}</td>
                                        <td>{{ (item.expectedLoss/1000000).toFixed(2) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <!--CDS Historical Exposures-->
        <ion-row responsive-sm [hidden]="!isDataLoaded">
            <ion-fab class="margin-top" right edge>
                <button ion-fab (click)="zoomInChartHistorical()">
                    <ion-icon name="expand"></ion-icon>
                </button>
            </ion-fab>
            <ion-col width-100>
                <ion-card>
                    <ion-card-content>
                        <highcharts-chart #chartHistoricalExposures></highcharts-chart>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <!--TEAM-->
        <ion-row responsive-sm>
            <ion-fab class="margin-top" right edge id="chartExpandTeam" [hidden]="!isDataLoaded">
                <button ion-fab (click)="zoomInChartTeam()">
            <ion-icon name="expand"></ion-icon>
          </button>
            </ion-fab>

            <ion-col width-50>
                <ion-card>
                    <ion-card-content>
                        <highcharts-chart #chartTeamExposures></highcharts-chart>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <ion-col width-50 [hidden]="!isDataLoaded">
                <ion-card>
                    <ion-card-content>
                        <div>
                            <h4>EXPOSURES BY TEAM</h4>
                            <table class="db-table" *ngIf="isDataLoaded">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th colspan="2">Millions (USD)</th>
                                    </tr>
                                    <tr>
                                        <th>Team</th>
                                        <th>Exposure</th>
                                        <th>Expected Loss</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of teamExposuresAndExpectedLosses">
                                        <td>{{ item.teamName }}</td>
                                        <td>{{ (item.exposure/1000000).toFixed(0) }}</td>
                                        <td>{{ (item.expectedLoss/1000000).toFixed(2) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>