// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$primary:     #387ef5;
$secondary:   #32db64;
$danger1:     #f53d3d;
$light1:      #f4f4f4;
$dark:        #222;
$favorite:    #006633;
$bp-green:         #009900;
$bp-light-green:   #99CC00;
$bp-yellow:        #FFE600;
$bp-dark-green:    #006633;
$bp-bright-green:  #CCFF00;
$bp-dark-blue:     #000099;
$bp-dark-grey:     #666666;
$bp-light-grey:    #999999;
$bp-white:         #FFFFFF;
$bp-orange:        #FF6600;
$clear:            rgba(255, 255, 255, 1);
$bp-gradient-green: linear-gradient($bp-green 0%,$bp-light-green 100%);

$colors: (
  primary:    $bp-light-green,
  secondary:  $bp-yellow,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       $bp-dark-green,
  favorite:   #69BB7B,
  clear:      $clear
);

/*
$primary:     #387ef5;
$secondary:   #32db64;
$danger1:     #f53d3d;
$light1:      #f4f4f4;
$dark:        #222;
$favorite:    #006633;
$bp-green:         #009900;
$bp-light-green:   #99CC00;
$bp-yellow:        #FFE600;
$bp-dark-green:    #006633;
$bp-bright-green:  #CCFF00;
$bp-dark-blue:     #000099;
$bp-dark-grey:     #666666;
$bp-light-grey:    #999999;
$bp-white:         #FFFFFF;
$bp-orange:        #FF6600;
*/